<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>loginForm</display-name>
	<welcome-file-list>
		<welcome-file>loginPage.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://rg271sz6atddm9ft:ajl637klg3o448a4@irkm0xtlo2pcmvvz.chr7pe7iynqr.eu-west-1.rds.amazonaws.com:3306/nkzdnv6acaucr9tb</param-value>
	</context-param>
	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>user_name</param-name>
		<param-value>rg271sz6atddm9ft</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>ajl637klg3o448a4</param-value>
	</context-param>
	<context-param>
		<param-name>log4j-config</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>

	<servlet>
		<description></description>
		<display-name>HomeServlet</display-name>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.epam.library.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.epam.library.listener.DbListener</listener-class>
	</listener>
</web-app>